h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

.content {
    padding:50px;
}

/* navagation bar */
 
.navbar {
    width: 100%;
    height: 300px;
    background: url("../images/tail-trails-logo\ .png") center;
}

nav a {
    text-decoration: none;
    font-family: 'Hurricane', cursive;
    color: white;
    font-size: 50px;
    margin: 20px 0 0 40px;
    
}

nav a:hover {
    border-bottom: 1px solid  #fafafa;
    color: white;
}

.navbar .company-name {
    color:black;
    font-family: 'Hurricane', cursive;
    font-size: 70px;
    margin-left: 50px;
    position: relative;
    top: 30px;
    left: 60px;
} 

/* footer */

.footer {
    height:300px;
    width: 100%;
    background: url("../images/logo-small.png") center;
}

.footer-links {
    font-family: 'Hurricane', cursive;
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 50px;
}

.footer-contacts {
    font-family: 'Hurricane', cursive;
    font-size: 30px;
    display: inline-block;
    position: relative;
    text-align: right;
    top: 30px;
    left: 700px;
}

.footer .company-name {
    color:black;
    font-family: 'Hurricane', cursive;
    font-size: 60px;
    margin-left: 50px;
    position: relative;
    top: 65px;
    right: 250px;
}

.footer-links a {
    color: black;
}
/* 
.footer-socials {

}

 */

 /* Home */

.home-content h1 {
    font-size: 40px;
    text-align: left;
}

p {
    font-size: x-large;
    text-align: left;
}

.home-content h2 {
    text-align: left;
}

#description {
    padding: 20px 0;
}

#contacts {
    padding-top: 20px;
}

/* My Walks */

#profile-info {
    width: 50%;
    display: inline-block;
    font-size: 20px;
    padding: 25px;
    margin: 25px;
    border: solid 2px black;
}

.profile-info h2 {
    text-align: left;
    padding: 2% 0;
}

.profile-info p {
    text-align: left;
    padding: 2% 0;
}

#current-bookings {
    display: inline-block;
    position: relative;
    bottom: 150px;
    font-size: 20px;
    padding: 25px;
    margin: 25px;
    background: red;
}

#not-login p {
    text-align: center;
    padding-top: 25px;
}

#not-login a {
    color:white;
}

#btn-login {
    background-color: #8e909a;
    color: #fff;
    margin-left: 2%; 
    padding: 1% 5%; 
    font-size: 20px;
}

#btn-login:hover,
#btn-login:active {
    background-color: #fff;
    color: #8e909a;
}

/* Book Walk */

.make-booking-content p {
    text-align: center;
}

#availability-item {
    background-color: rgb(154, 250, 154);
    border: solid 2px black;
    border-radius: 0.25rem;
    width: 400px;
    padding: 1rem 4rem 0 4rem;
    margin: 20px 0 20px 300px;
    display: inline-block;
}

#btn-request {
    background-color: rgb(154, 250, 154);
    color: black;
    margin-left: 2%; 
    padding: 1.15rem 4rem;
    font-size: 20px;
    border: solid black 2px;
    position:relative;
    bottom: 5px;
}

#btn-request:hover,
#btn-request:active {
    border: solid black 3px;
}

/* login */

.login-container h1 {
    padding: 5%;
}

#btn-signin {
    background-color: #8e909a;
    color: #fff;
    margin-bottom: 5%;
    padding: 1% 8%;
    font-size: 20px;
}

#btn-signin:hover,
#btn-signin:active {
    background-color: #fff;
    color: #8e909a;
}

/* sign up */

.signup-container h1 {
    padding: 5%;
}

.signup-container label {
    font-size: x-large;
}

/* #info {
    width: 500px;
    height: 200px;
} */

.input-txt {
    font-size: x-large;
}

#btn-signup {
    background-color: #8e909a;
    color: #fff;
    margin-bottom: 5%;
    padding: 1% 8%;
    font-size: 20px;
}

#btn-signup:hover,
#btn-signup:active {
    background-color: #fff;
    color: #8e909a;
}

/* signout */

.signout-container h1 {
    padding: 5%;
}

.signout-container p {
    text-align: center;
}

#btn-signout {
    background-color: #8e909a;
    color: #fff;
    margin-bottom: 5%;
    padding: 1% 8%;
    font-size: 20px;
    position:relative;
    left: 37%;
}

#btn-signout:hover,
#btn-signout:active {
    background-color: #fff;
    color: #8e909a;
}