{% extends "base.html" %}

{% block content %}
<div class="content edit-profile-content">
    <h1>Edit Profile</h1>
    <div id="profile-information">
        <p class="owner">Owner Name: {{ profile.owner }}</p>
        <p class="dog">Dog Name: {{ profile.dog }}</p>
        <p class="address">Pick Up/Drop Off Address: {{ profile.address }}</p>
        <p class="number">Phone Number: {{ profile.phonenumber }}</p>
        <p class="info">Extra Information: {{ profile.info }}</p>
        <a href="#"><button>Submit</button></a>
    </div>
</div>
{%endblock%}