{% extends "base.html" %}

{% block content %}
<div class="content home-content">
   <h1>Dog Walking And Doggy Daycare</h1>
   <p id="description">
      At Tail Trail, we pride ourselves on providing you with friendly, 
      reliable and professional dog walking services. Treating each dog as if the 
      are our own. We provide the love, care and attention they need and deserve on their walks.
   </p>
   <h2>Get In Touch</h2>
   <p id="contacts"> 
      Phone us on: 07123465789 <br><br>
      Email us via: callum@tailtrail.com <br><br>
      Or get in touch through our social media below
   </p>
</div>
<!-- add social media here -->
{%endblock%}