{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="content">
    <h1>Update Profile</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="POST" action="/profile-update/">{% csrf_token %}
                <label for="owner">Owner:</label>
                <input name="owner" type="text" placeholder="Owner"><br>
                <label for="dog">Dog:</label>
                <input name="dog" type="text" placeholder="Dog"><br>
                <label for="address">Address:</label>
                <input name="address" type="text" placeholder="Address"><br>
                <label for="phonenumber">Number:</label>
                <input name="phonenumber" type="text" placeholder="Number"><br>
                <label for="info">Extra Info:</label><br>
                <textarea name="info"></textarea><br>
                <input type="submit" value="Save">
            </form> 
        </div>
    </div>
</div>
{%endblock%}